 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/gettyimages-185110891-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 305px;
}

.u-section-1 .u-text-1 {
  margin: 189px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 91px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 222px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/gettyimages-168480043-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 222px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/gettyimages-157559426-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 222px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/spicy-chips-masala-recipe-main-photo.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 222px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexels-jonathan-borba-2983099.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 42px;
  margin-bottom: 43px;
}

.u-section-2 .u-image-5 {
  min-height: 218px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexels-pixabay-533325.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  min-height: 218px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/pexels-pascal-claivaz-410648.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  min-height: 218px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/gettyimages-1234928310-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  min-height: 218px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/roni-herdyanzah-O3OOIgTCpVo-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-2 .u-image-1 {
    min-height: 183px;
  }

  .u-section-2 .u-image-2 {
    min-height: 183px;
  }

  .u-section-2 .u-image-3 {
    min-height: 183px;
  }

  .u-section-2 .u-image-4 {
    min-height: 183px;
  }

  .u-section-2 .u-image-5 {
    min-height: 180px;
  }

  .u-section-2 .u-image-6 {
    min-height: 180px;
  }

  .u-section-2 .u-image-7 {
    min-height: 180px;
  }

  .u-section-2 .u-image-8 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-image-1 {
    min-height: 181px;
  }

  .u-section-2 .u-image-2 {
    min-height: 181px;
  }

  .u-section-2 .u-image-3 {
    min-height: 181px;
  }

  .u-section-2 .u-image-4 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-image-5 {
    min-height: 194px;
  }

  .u-section-2 .u-image-6 {
    min-height: 194px;
  }

  .u-section-2 .u-image-7 {
    min-height: 194px;
  }

  .u-section-2 .u-image-8 {
    min-height: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2378px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-5 {
    min-height: 270px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 269px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 284px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-2 .u-image-1 {
    min-height: 171px;
  }

  .u-section-2 .u-image-2 {
    min-height: 171px;
  }

  .u-section-2 .u-image-3 {
    min-height: 171px;
  }

  .u-section-2 .u-image-4 {
    min-height: 171px;
  }

  .u-section-2 .u-image-5 {
    min-height: 170px;
  }

  .u-section-2 .u-image-6 {
    min-height: 169px;
  }

  .u-section-2 .u-image-7 {
    min-height: 179px;
  }

  .u-section-2 .u-image-8 {
    min-height: 185px;
  }
}