.u-section-1 .u-sheet-1 {
  min-height: 353px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 201px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-engin-akyurt-1672304.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 643px;
}

.u-section-2 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 143px;
  height: 151px;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 251px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 143px;
  height: 151px;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 251px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 143px;
  height: 151px;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 251px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 143px;
  height: 151px;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 31px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 143px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 143px;
  height: 193px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 143px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 143px;
  height: 193px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 152px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-2 {
    height: 152px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    height: 152px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 243px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-4 {
    height: 152px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -46px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 223px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-image-5 {
    height: 165px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 223px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-image-6 {
    height: 165px;
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 223px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-image-7 {
    height: 165px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 223px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-image-8 {
    height: 165px;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -13px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 274px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 274px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1834px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 207px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 194px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 15px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1906px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 130px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 122px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 141px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 121px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 138px;
  }
} .u-section-3 {
  background-image: url("images/pexels-bernyce-hollingworth-2702805.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-text-1 {
  margin: 4px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 170px;
  height: 193px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 170px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 170px;
  height: 193px;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 170px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 170px;
  height: 193px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 170px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 170px;
  height: 193px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 239px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -485px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 262px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-5 {
    height: 182px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 262px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-6 {
    height: 182px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 262px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-7 {
    height: 182px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 262px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-8 {
    height: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 301px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 266px;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -546px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 245px;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 245px;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 245px;
  }

  .u-section-3 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 245px;
  }

  .u-section-3 .u-image-8 {
    width: 107px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3232px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1325px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 396px;
    width: 214px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 331px;
    width: 234px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 303px;
    width: 217px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 491px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 346px;
    width: 203px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -3036px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 250px;
    width: 197px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 319px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 260px;
    width: 172px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 322px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 257px;
    width: 162px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 332px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    width: 172px;
    height: 246px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3209px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1333px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-3 .u-image-1 {
    height: 395px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-3 .u-image-2 {
    height: 332px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -3047px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 289px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 201px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 313px;
  }

  .u-section-3 .u-image-7 {
    height: 258px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 209px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/pexels-antonio-jose-meza-crdenas-2480828.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 170px;
  height: 238px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 170px;
  height: 238px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 170px;
  height: 238px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 281px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 170px;
  height: 238px;
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 33px;
  margin-bottom: 19px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 308px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  width: 170px;
  height: 194px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 308px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  width: 170px;
  height: 204px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 308px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  width: 257px;
  height: 193px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 308px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-image-8 {
  width: 257px;
  height: 193px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  width: auto;
  margin: -659px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 64px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 232px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 232px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 232px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-5 {
    height: 141px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-6 {
    height: 151px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 254px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-7 {
    width: 175px;
    height: 131px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 254px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-8 {
    width: 175px;
    height: 131px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 404px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 404px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 389px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 389px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1586px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2861px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 109px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 63px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 293px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 45px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 307px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    width: 194px;
    height: 232px;
    margin-top: 33px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 300px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    width: 224px;
    height: 224px;
    margin-left: 142px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    width: 253px;
    height: 178px;
    margin-right: 125px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -2742px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 2277px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 216px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 185px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 194px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 294px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 238px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-4 .u-image-8 {
    margin-top: 4px;
    margin-right: 27px;
    margin-bottom: -2px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -2441px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/pexels-maria-pop-339696.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 773px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 171px;
  height: 194px;
  margin: 10px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 180px;
  height: 204px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0 16px;
}

.u-section-5 .u-image-3 {
  width: 200px;
  height: 208px;
  margin: 10px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 264px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0 16px;
}

.u-section-5 .u-image-4 {
  width: 193px;
  height: 218px;
  margin: 0 auto 0 37px;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 171px;
  height: 194px;
  margin: 10px auto 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 180px;
  height: 204px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-7 {
  height: 202px;
  width: 169px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 269px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-5 .u-image-8 {
  width: 172px;
  height: 204px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  width: auto;
  margin: -657px auto 613px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 108px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 250px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    height: 141px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 250px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    width: 175px;
    height: 151px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 250px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    width: 154px;
    height: 164px;
    margin-left: 18px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 250px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 2px;
  }

  .u-section-5 .u-image-4 {
    width: 157px;
    height: 190px;
    margin-left: 25px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 32px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-5 {
    height: 191px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 264px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-6 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 222px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 222px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    margin-top: -614px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-5 .u-image-1 {
    height: 171px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 261px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 261px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 114px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 321px;
  }

  .u-section-5 .u-image-5 {
    height: 209px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 321px;
  }

  .u-section-5 .u-image-6 {
    height: 219px;
    width: 194px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 271px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 2px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 271px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -1324px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2932px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 200px;
    height: 213px;
    margin-top: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 182px;
    margin-top: 49px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 44px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 341px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 24px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 340px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 341px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 16px 10px;
  }

  .u-section-5 .u-image-6 {
    height: 280px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 339px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 346px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -2837px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 2421px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 215px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 213px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 218px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -2336px;
  }
}